# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/
cvenv/

# Environment variables
.env
.env.*

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
package-lock.json

# Build output
dist/